body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center; /* Añadido para centrar el contenido del formulario */
}
h2 {
    margin-bottom: 20px; /* Añadido un margen inferior al título */
}
label, input, textarea {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #4CAF50;
    outline: none;
}
input[type="submit"],
input[type="button"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #45a049;
}
